.header{
    color: teal;
    background-color: black;
    font-size: 4em;
    font-family: 'Tangerine';
    text-align: left;
}

.linkedin{
    border-radius: 30%;
    width: 40px;
    position: absolute;
    right: 130px;
    top: 55px;
}


  .iframe{
    display: block;
    margin: 0 auto;
  }


  .aboutme{
      font-family: 'Tangerine';
      font-size: large;
      display: grid;
      grid-template-columns: repeat(4, 800px);
      margin-left: 50px;
  }


  .PIntro{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Tangerine', serif;
    font-size: x-large;
    text-align: center;
  }

.container{
    font-family: 'Tangerine', serif;
    font-size: large;
    color: teal;
    display: grid;
    text-align: center;
}

.col1{
    font-size: small;
    color: teal;
}

.wrapper {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 10px;
  }
  
  .box {
    background-color: white;
    color: blue;
    border-radius: 5px;
    padding: 5px;
    font-size: 150%;
    font-family: 'Tangerine', serif;
    text-align: center;
  }

  .box2{
    background-color: white;
    color: pink;
    border-radius: 5px;
    padding: 5px;
    font-size: 80%;
    font-family: 'Tangerine', serif;
    text-align: center;  
  }

  .box1{
    background-color: white;
    color: red;
    border-radius: 5px;
    font-size: 150%;
    font-family: 'Tangerine', serif;
    text-align: center; 
    size: 50%; 
  }
  
  .loading-frame {
    position: absolute;
    top: 20px;
    left: 225px;
  }
 
  
  
  
  
